<div class="col-xs-12" style="height:500px;width:1000px;margin:-3rem -2rem">
  <div class="row" style="height:100%">
    <div class="col-xs-4" id="chatroom_channels">

      <div class="row" id="chat">
        <label style="margin-bottom: 15px;">add user <a><i *ngIf="!newUserBoxOpened" (click)="openNewUserBox()" class="fa fa-plus"></i><i *ngIf="newUserBoxOpened" (click)="closeNewUserBox()" class="fa fa-minus"></i></a></label>

        <div *ngIf="newUserBoxOpened" style="padding-right:15px">
          <i class="fa fa-bars" style="position:absolute; padding:15px; left:35%"></i>

          <select [(ngModel)]="selectedUser" class="col-xs-6">
            <option *ngFor="let user of newUsers" [ngValue]="user">{{user.username}}</option>
          </select>
          <button (click)="createChannel()" style="margin-bottom:10px" class="col-xs-6 btn-default btn waves-effect waves-light s2">add</button>
        </div>

        <div *ngFor="let channel of channels">
          <div *ngIf="!channel.isPublic" [attr.id]="channel.name" (click)="loadChannel(channel)" class="chatroom_channel"><i class="fa fa-user fa-2x"></i><label class="pull-left">&nbsp;&nbsp;{{channel.name}}</label>&nbsp;</div>
        </div>
      </div>

    </div>

    <div class="col-xs-8" id="chatroom_chat">
      <div id="conversation" class="row" style="height:90%">
        <label style="margin-top:15px">{{activeChannel?.name}}</label>
        <div *ngFor="let message of activeChannel?.conversation">
          <div id="chatroom_chat_messages"  [ngClass]="{'col-xs-6': true, 'pull-left': !isOwnMessage(message), 'pull-right': isOwnMessage(message)}">
            <span *ngIf="isOwnMessage(message) && message.status == 'read'" class="fa fa-check"></span>
            <span id="userfield" style="font-weight:bold">{{message.sender}}</span>
            <span id="messsagefield">{{message.message}}</span>
            <span id="timeField"></span>
          </div>

          <div class="col-xs-12" style="margin-top:-10px"><span [ngClass]="{'pull-left': !isOwnMessage(message), 'pull-right': isOwnMessage(message)}"><i class="fa fa-clock-o"></i> {{message.creationDate | date: 'dd.MM.yyyy'}} - {{message.creationDate | date: 'HH:mm'}}</span></div>
        </div>
      </div>

      <div class="row" style="height:10%">
        <input placeholder="write a message..." [(ngModel)]="message" (keypress)="keypressHandler($event)" class="col-xs-10"
          id="chatroom_chat_input" [disabled]="!activeChannel" />
        <button (click)="send()" type="submit" class="col-xs-2 btn waves-effect waves-light s2" style="height:100%" name="action"
          [disabled]="!activeChannel">send</button>
      </div>
    </div>

  </div>
</div>