<div id="wrapper">
  <div id="header">
    <a href="./home" class="logo"></a>
    <div class="content">
      <span *ngIf="isLoggedIn()" style="position: absolute; left: 0; top: -40px;">User name: {{username}} </span>
      <div class="inner">
        <router-outlet></router-outlet>
      </div>
    </div>
    <nav>
      <ul>
        <li *ngIf="!isLoggedIn()"><a [routerLink]="['login']">login</a></li>
        <li *ngIf="!isLoggedIn()"><a [routerLink]="['register']">register</a></li>
        <li *ngIf="isLoggedIn()"><a style="cursor:pointer" [routerLink]="['home']" (click)="logout()">logout</a></li>
      </ul>
    </nav>
  </div>
</div>